services:
  - type: web
    name: Hislordship
    env: python
    region: singapore
    buildCommand: pip3 install -U -r requirements.txt
    startCommand: python3 bot.py
    plan: free
    branch: master
    numInstances: 1
    healthCheckPath: /
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: CHANNELS
        sync: false
      - key: ADMINS
        sync: false
      - key: DATABASE_URI
        sync: false
      - key: DATABASE_NAME
        sync: false
      - key: LOG_CHANNEL
        sync: false
      - key: SUPPORT_CHAT_ID
        sync: false
